pkgbase = opilion
	pkgdesc = PulseAudio volume manager for X11 with vim-like keybindings
	pkgver = 0.14.4
	pkgrel = 1
	url = https://github.com/alpheratz0/opilion
	arch = x86_64
	license = GPL2
	makedepends = pkgconf
	makedepends = git
	depends = libxcb
	depends = xcb-util-image
	depends = xcb-util-keysyms
	depends = xcb-util-cursor
	depends = libpulse
	depends = pixman
	depends = fcft
	options = !debug
	source = opilion-0.14.4.tar.gz::https://github.com/alpheratz0/opilion/archive/refs/tags/v0.14.4.tar.gz
	sha256sums = e1bdbdac74bd32304987d5afc6c0bffa7cd19b2da4e617e60f9021f02f6b9964

pkgname = opilion
