[Desktop Entry]
Categories=AudioVideo;Audio;
Type=Application
TryExec=opilion
Exec=opilion
GenericName=PulseAudio Volume Manager
Name=opilion
Comment=control pulseaudio sink inputs volume
Terminal=false
StartupWMClass=opilion
