[Desktop Entry]
Categories=AudioVideo;Audio;
Type=Application
TryExec=xpavm
Exec=xpavm
GenericName=PulseAudio Volume Manager
Name=xpavm
Comment=control pulseaudio sink inputs volume
Terminal=false
StartupWMClass=xpavm
